<div id = "title" >
<h1>Coding</h1>
</div>


<div id = "my_thoughts"> 
	<ul style = "list-style-type: square">
		<li> I first started coding 3 months after I graduated high school, when I enrolled in a coding boot camp called Bottega. During the first 3 weeks of prep work, I felt overwhelmed and frustrated. Many people had told me this was not a female's job, that I would have a hard time, and that I would not like it. People's words kept entering my mind and I was afraid that I was wasting my time and money on something that I would not use as a career someday. However, the drive in me kept me going and I worked really hard. </li>

		<br>

		<li> In week 4, we finished our prep work and began diving in to the curriculum. Although I was excited to be done with the prep work, I suddenly began finding myself frustrated because I wasn't picking up the material naturally and felt as if I was falling behind. </li>

		<br> 

		<li> At the beginning of week 5, I was determined to start figuring things out. I found that asking questions even when I was nervous or embarassed helped me a lot. In the previous weeks, I had kept questions to myself thinking that I would learn them in upcoming courses. Once I started asking questions I realized that the material was a lot more clear, and I was becoming more invested in what I was learning. </li>

		

