#nav {
	float: top;
	background: white;
	border-radius: 3px;
}

#page_nav {
	padding: 70px 20px 20px 70px;
}

.nav-item {
	margin: 40px;
	text-decoration: none;
	color: black;
	font-size: 15px;
    position: static;
}

.nav-item:hover {
	background-color: pink;
}